<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grocery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grocery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Milk</ion-label>
        <p>1</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Eggs</ion-label>
        <p>12</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>        

    <ion-item-sliding>
      <ion-item>
        <ion-label>Oranges</ion-label>
        <p>4</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding> 

    <ion-item-sliding>
      <ion-item>
        <ion-label>Apples</ion-label>
        <p>20</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Lemons</ion-label>
        <p>3</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
        <ion-item>
          <ion-label>Avocadoes</ion-label>
          <p>6</p>
        </ion-item>
        <ion-item-options>
          <button ion-button color="secondary" icon-start>
            <ion-icon name="trash"></ion-icon>
            Done
          </button>
        </ion-item-options>
      </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Tomatoes</ion-label>
        <p>7</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
